* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-icons{
    display: flex;
    justify-content: space-evenly;
}

body{
    font-size: 18px;
}

header > img{
    float: left;
}

header > p, a {
    margin: 20px;
}

img{
    margin: auto;
}

.attribution{
    font-size: 10px;
}

.title, h2{
    text-align: center;
}

.next-btn {
    position: absolute;
    right: 40px;
}